<div id="title">
    <h1>Hallo#index</h1>
</div>

<div id="text">
    <p>Find me in app/views/hallo/index.html.erb</p>
    </br>
</div>

<div id="btn">
    <input type="button" id="btn" value="取得" />
</div>

<h1>halloproject_List</h1>
<% @hallo_list.each do |hallo| %>
    <fieldset>
        <legend><%= hallo.created_at %></legend>
        <p><%== hallo.hallo_text %></p>
    </fieldset>
<% end %>
