<div id="title">
    <h1>Hallo#index</h1>
</div>

<div id="text">
    <p>Find me in app/views/hallo/index.html.erb</p>
    </br>
</div>

<div id="btn">
    <input type="button" id="btn" value="取得" />
</div>

<div id=divjserb>
    <%= render partial: "view" %>
</div>